.Cart{
  display:flex;

}
.Cart >span{
  margin-left: 5px;
}

.circle{
  width: 80px;
}
.order{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin:5px 0;
  padding:10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.dashboard{
  padding:20px 0;
  
}
/* .grid{
  display: grid;
  place-items: center;
} */